/vendor/
/node_modules/
.phpunit.result.cache
.phpunit.cache
composer.lock
package-lock.json
yarn.lock
pnpm-lock.yaml
.php-cs-fixer.cache
.php_cs.cache
.DS_Store
*.log
*.cache
.idea/
.vscode/
.phpstorm.meta.php
_ide_helper.php
_ide_helper_models.php
.php-cs-fixer.php
coverage/
.coverage/
build/
dist/
*.sublime-project
*.sublime-workspace
/scripts/
PUBLISHING_CHECKLIST.md
